/* * {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  padding: 0;
} */
html {
  font-size: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
  font-family: "Grand Hotel", cursive;
  text-align: center;
  font-size: 10rem;
  font-weight: 100;
  letter-spacing: 1px;
  margin: 2rem 0;
}
h1 a {
  color: #000;
  text-decoration: none;
}
.photo-grid {
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
  flex-wrap: wrap;
}
.figure-style {
  flex-basis: calc(25% - 4rem);
  border: 1px solid #ccc;
  flex-grow: 1;
  padding: 2rem;
  transition: transform 0.5s ease;
}
.photo {
  width: calc(100% + 4rem);
  margin: -2rem 0 0 -2rem;
}
.figure-style:hover {
  transform: scale(1.01);
}

.fig-caption {
  font-size: 1.6rem;
  line-height: 1.5;
  text-transform: uppercase;
}
.button-container {
  display: flex;
  justify-content: center;
}
.button-style {
  flex-basis: 30%;
  color: red;
  border: 2px solid #f2f2f2;
  background-color: #fff;
  padding: 5px;
  line-height: 2;
  font-size: 16px;
  transition: box-shadow 0.5s ease;

  border-radius: 10px;
}
.button-style:hover {
  box-shadow: 0 0 2px 1px #ccc;
}

.add-item {
  margin: 20px auto;
  display: table;
  padding: 40px;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ9y_Rcs1TiQ9WdMtKV6bFQnU4FTCBvR7I_Sbohgnsxihd-Ju6V_cQz3KtK6ktz1uPykNc&usqp=CAU");
  background-size: contain;
  border: 0;
  color: #000;
  position: relative;
}
.add-item:hover {
  opacity: 0.8;
}
.add-item:hover::after {
  position: absolute;
  content: "Add photo";
  width: fit-content;
  top: 80px;
  left: 10px;
  font-size: 1.3rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
}

.form {
  background-color: #fff;
  margin: 0px auto;
  width: 40%;
  padding: 45px;
  text-align: center;
}
.form input[type="text"],
.form textarea {
  background-color: #f2f2f2;
  width: 100%;
  border: 0;
  outline: 0;
  margin: 0 0 15px 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 10px;
  border-radius: 5px;
  transition: padding 0.5s ease;
  resize: none;
  font-size: 1.5rem;
  backface-visibility: hidden;
}

.form input[type="text"]:focus,
.form textarea:focus {
  background: #fff;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
  padding-left: 5px;
  outline: 0;
}
.form textarea:focus {
  border: 1px solid #ccc;
}

input:focus::placeholder,
textarea:focus::placeholder {
  color: transparent;
}

.form button {
  width: 100%;
  padding: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2rem;
  border: 0;
  outline: 0;
  color: #f2f2f2;
  background: #657846;
  text-transform: uppercase;
  box-sizing: border-box;
  border-radius: 3px;
  transition: background 0.3s ease;
}

.form button:hover {
  color: #000;
  background: #efefef;
}
.form button:active {
  transform: translateY(5px);
}

/* html {
  font-size: 10px;
  font-family: verdana;
}
p {
  font-size: 1.6rem;
  line-height: 1.5;
}

h1 {
  font-family: "Grand Hotel", cursive;
  text-align: center;
  font-size: 10rem;
  font-weight: 100;
  letter-spacing: 1px;
  color: #000;
  margin: 2rem 0;
}

h1 a {
  color: black;
  text-decoration: none;
}

.photo-grid {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.figure {
  flex-basis: calc(25% - 4rem);
  border: 1px solid #d3d3d3;
  padding: 2rem;
  flex-grow: 1;
}

.figure .single-photo {
  flex-basis: calc(33.333% - 4rem);
  flex-grow: 1;
  flex-shrink: 0;
  margin: 0 2rem 2rem 2rem;
  padding: 2rem;
  border: 1px solid #d3d3d3;
  background: #fff;
  position: relative;
}

.single-photo {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  background: #fff;
  border: black;
}

.single-photo .figure {
  box-shadow: none;
  margin: 0 2rem 0 0;
  border: 0;
  padding: 0;
  flex: 1 0 60%;
  max-width: 60%;
}

.single-photo .comments {
  flex: 1 0 40%;
  max-width: 40%;
}

.single-photo .photo {
  width: 100%;
  margin: 0;
}

.photo {
  width: calc(100% + 4rem);
  margin: -2rem 0rem 0rem -2rem;
}
.comment {
  width: 100%;
}
.comment p {
  border-bottom: 1px solid #d3d3d3;
  padding: 0.5rem 0;
}
.comment-form input,
.comment-form textarea {
  width: 100%;
  border: 0;
  font-size: 1.3rem;
  padding: 1rem 0;
  border-bottom: 1px solid #d3d3d3;
  outline: none;
  resize: vertical;
}

.button-container {
  display: flex;
  justify-content: center;
}

button,
.button {
  border: 2px solid #f2f2f2;
  background: none;
  flex-basis: 48%;
  display: inline-block;
  line-height: 2;
  text-decoration: none;
  padding: 5px;
  text-align: center;
  font-size: 15px;
  color: red;
  transition: all 0.2s;
  box-sizing: padding-box;
}
button:hover,
.button:hover,
button:focus,
.button:focus {
  border-color: #00f;
  outline: 0;
}
.addIcon {
  margin: 20px auto;
  display: table;
  padding: 40px;
  background: url("https://image.flaticon.com/icons/svg/14/14232.svg") center
    no-repeat;
  background-size: contain;
  border: none;
}
.speech-bubble {
  background: url("https://d30y9cdsu7xlg0.cloudfront.net/png/51904-200.png")
    center no-repeat;
  background-size: contain;
  padding: 10px;
  margin: 5px;
  display: inline-block;
  border: none;
  position: relative;
}

.comment-count {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}

.form {
  background: white;
  max-width: 360px;
  margin: 0px auto;
  padding: 45px;
  text-align: center;
}

.form input {
  font-family: verdana;
  background: #f2f2f2;
  width: 100%;
  border: none;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  margin: 0px 0px 15px 0px;
}

.form button {
  font-family: verdana;
  text-transform: uppercase;
  background: #065784;
  width: 100%;
  border: none;
  padding: 15px;
  color: white;
  font-size: 14px;
  cursor: pointer;
}

.form button:hover {
  background: #7b8589;
}

button:hover {
  border-color: blue;
}

.loader {
  height: 20%;
  width: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  font-size: 28pt;
} */
